@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sobre Nosotros";
}

<section class="about-section">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <h1 class="h1">¿Quiénes Somos?</h1>
                <p class="lead">
                    En SportShop, nos apasiona el deporte y la vida activa. Nuestro objetivo es proporcionar los mejores productos deportivos para ayudar a nuestros clientes a alcanzar sus metas.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <h1 class="h1">Nuestra Misión</h1>
                <p>
                    Proveer productos deportivos de alta calidad que inspiran a nuestros clientes a mantenerse activos y saludables.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <h1 class="h1">Nuestros Valores</h1>
                <ul class="list-unstyled">
                    <li>Calidad</li>
                    <li>Innovación</li>
                    <li>Compromiso</li>
                    <li>Servicio al Cliente</li>
                </ul>
            </div>
        </div>
    </div>
</section>
